<%- include('base/header') -%>
<div class="container-sm">
    <h1 class="text-center mb-3">Send Template</h1>
    <%- include('forms/email_send_form', {
        templates
    }) -%>
</div>
<%- include('base/footer') -%>
