<%- include('base/header') -%>
<div class="container-sm">
    <h1>Templates</h1>
    <%- include('snippets/template_create_button', { databases }) -%>
    <%- include('snippets/template_list', { templates }) -%>
</div>
<%- include('base/footer') -%>
