<form action="<%= form_action %>" method="post">
    <div class="row mb-2">
        <div class="col-2 text-end fw-bold">Database Name:</div>
        <div class="col-10">
            <input type="text" class="form-control" id="dbName" name="dbName" value="" required>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-2">
            <button class="btn btn-primary" type="submit">Create Database</button>
        </div>
    </div>
</form>